{% extends 'my_base.html' %}

{% load socialaccount%}
{% load static %}
{% providers_media_js %}

{% block content %}
  <div class="container">
    <div class="container">
      <h1 class="text-center logo my-4">
        UR IDEAS BOARD
      </h1>
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-6 col-sm-8">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Login</h3>
            <form method="post" novalidate>
              {% csrf_token %}
              {% include 'includes/form.html' %}
              <button type="submit" class="btn btn-primary btn-block" style="font-size: 17px;">Login</button>
            </form>

           
             <hr>

            <a href="{% provider_login_url "google" %}?next={{ request.get_full_path }}" class="btn "
            style="color:white; 
            background-color: #dd4b39; 
            width: 100%;
            border-radius: 4px;
            margin: 5px 0;
            opacity: 0.85;
            font-size: 17px;
            line-height: 20px;">
            <i class="fa fa-google fa-fw"></i> Login with Google+
            </a>
  
        
          </div>
          <div class="card-footer text-muted text-center">
            New to UR IDEAS BOARD? <a href="{% url 'signup' %}">Sign up</a>
          </div>
        </div>
        <div class="text-center py-2">
          <small>
            <a href="{% url 'password_reset' %}" class="text-muted">Forgot your password?</a>
          </small>
        </div>
      </div>
    </div>
  </div>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}