{% load static %}
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 footer-links">
                    <h5 class="">ABOUT US</h5>
                    <ul>
                    <li><a href="" class="footer-link">UR Facts and Figures</a></li>
                    <li><a href="" class="footer-link">UR Statement and Concept</a></li>
                    <li><a href="" class="footer-link">Vision and Mission</a></li>
                    <li><a href="" class="footer-link">The Chancellor</a></li> 
                    <li><a href="" class="footer-link">Vice Chancellor's Office</a></li>
                    <li><a href="" class="footer-link">Board of Governors</a></li>
                    <li><a href="" class="footer-link">Administrative offices</a></li>
                    <li><a href="" class="footer-link">Key Documents & Policies</a></li>
                    <li><a href="" class="footer-link">Partnerships</a></li>    
                    </ul>   
                </div>
                <div class="col-lg-3 col-md-6 footer-links">
                    <h5 class="">ACADEMIC</h5>
                    <ul>
                    <li><a href="" class="footer-link">Students</a></li>
                    <li><a href="" class="footer-link">Colleges and Campuses Schools</a></li>
                    <li><a href="" class="footer-link">Schools</a></li>
                    <li><a href="" class="footer-link">Admission</a></li>
                    <li><a href="" class="footer-link">International Students</a></li>
                    <li><a href="" class="footer-link">Fee Structure</a></li>
                    <li><a href="" class="footer-link">UR Bank accounts</a></li>
                    <li><a href="" class="footer-link">Academic Calendar</a></li>
                    <li><a href="" class="footer-link">Academic Regulations & Policies</a></li>     
                    </ul>   
                </div>
                <div class="col-lg-3 col-md-6 footer-links">
                    <h5 class="">KEY LINKS</h5>
                    <ul>
                    <li><a href="" class="footer-link">Directorate of Research/a></li>
                    <li><a href="" class="footer-link">UR-Sweden Programme</a></li>
                    <li><a href="" class="footer-link">Centres of excellence</a></li>
                    <li><a href="" class="footer-link">UR brand guidelines</a></li>
                    <li><a href="" class="footer-link">E-Learning</a></li>
                    <li><a href="" class="footer-link">E-MBONI</a></li>
                    <li><a href="" class="footer-link">MIFOTRA self-service portal</a></li>
                    <li><a href="" class="footer-link">Class Representative Report Form</a></li>
                    <li><a href="" class="footer-link">Students Evaluation of Module</a></li>
                    <li><a href="" class="footer-link">Teaching and Learning Form</a></li>      
                    </ul>  
                </div>
                <div class="col-lg-3 col-md-6 footer-news-letter">
                    <h5 class="">ADDRESS</h5>
                    <div class="location-footer">
                        <ul>
                            <li>
                                <i class="fas fa-map-marker-alt"></i>
                                KK 737 Street, Gikondo, Kigali<br>
                                PO BOX 4285 Kigali-Rwanda
                            </li>
                            <li class="footer-envelope" style="margin-top: 9px;">
                                <i class="fas fa-envelope"></i>
                                info@ur.ac.rw
                                </li>
                        </ul>
                    </div>

                    <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3433333.6443854803!2d27.826211358570088!3d-2.055621037517873!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x19dca5d4dc5fdc5f%3A0x765befaef1ee5387!2sUR%20College%20of%20Science%20and%20Technology.!5e0!3m2!1sen!2srw!4v1567714377930!5m2!1sen!2srw" width="285" height="200" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
            <hr class="mt-1">
        </div>
    </div>
    
    <div class="container">
        <div class="row">
        <div class="col-lg-4 col-md-6 ">
            <img class="ur-logo" src="{% static 'img/logo.png' %}" alt="Ur-logo" style="height: 56px; width: 172px;"/>  
        </div>
        <div class=" col-lg-4 col-md-6 social-links">
            <a href="" class="twitter"><i class="fab fa-twitter"></i></a>
            <a href="" class="facebook"><i class="fab fa-facebook-f"></i></a>
            <a href="" class="instagram"><i class="fab fa-instagram"></i></a>
            <a href="" class="twitter"><i class="fab fa-youtube"></i></a>
        </div> 
        <div class="col-lg-4 col-md-6 footer-text">
            <ul>
                <li>
                <a href="" >Copyright / Disclaimer / Privacy</a> 
                </li>
            </ul>
        </div>
    </div>
    <hr class="mt-1">
    <div class="row">
        <div class="col-md-12 footer-all-right">
            <p>
                <span>&copy 2018 University of Rwanda. All Right Reserved.</span>
            
            </p>
        </div>
    </div>
    
</div>
</footer>