{% extends 'base_account.html' %}

{% block content %}
    <div class="br-section-wrapper mg-t-90">
        <form method="post" action="">
        {% csrf_token %}
            <div class="row mg-l-100">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    Are you sure you want to delete "{{ object }}" article ?
                </div>
                <div class="col-lg-2"></div>
            </div>
            <div class="row  mg-t-20">
                <div class="col-lg-5"></div>
                <div class="col-lg-2">
                    <button class="btn btn-danger" type="submit">Yes</button>
                </div>
                <div class="col-lg-5"></div>
            </div>
        </form>
    </div>
{% endblock %}